@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
  
::selection {
  background: gray;
}
a.active hr{
   
    display: block;
    transition: ease-in-out 0.5s;
}
.hr:hover{
            width: 100%;
            transition: ease-in-out 0.5s;
}

a.active:hover{
           hr{
            width: 100%;
            transition: ease-in-out 0.5s;
           } 
}
*{
    font-family: Outfit;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

